.footer {
    height: 50px;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: .1px solid rgb(9, 7, 7);
    padding: 4px;
    opacity: .45;
}
.footer a {
    text-decoration: none;
    color:black
}